# dependencies
node_modules/

# build outputs
dist/
release/


# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env and secrets
.env
.env.*
!.env.example

# editor/system files
.DS_Store
Thumbs.db

# test and coverage artifacts
coverage/
.nyc_output/

# temp files
tmp/
temp/
*.tmp
.sea-config.build.json
release/sea-prep.blob

.cursor/